<section class="listAds col-md-5">
    <div class="listAdsHeader clearfix">
        <h2 class="">iPhone for sale</h2>
        <span class="date pull-right">03-Jan-2015</span>
    </div>
    <div class="listAdsMain clearfix">

        <div class="listAdsDetails pull-right col-md-9">
            <div class="description">
                <div class="info pull-right col-md-12">asdaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaasdasd</div>
            </div>
            <div class="infoPart">
                <div class="info pull-right col-md-10">Some Name</div>
                <span class="label pull-right">Name</span>
            </div>

            <div class="infoPart">

                <div class="info pull-right col-md-10">Some Email</div>
                <span class="label pull-right">Email</span>
            </div>

            <div class="infoPart">

                <div class="info pull-right col-md-10">Some Tel</div>
                <span class="label pull-right">Tel</span>
            </div>
        </div>
        <div class="listAdsPhoto pull-right col-md-3">PHOTO</div>
    </div>
</section>