body {
    padding-bottom: 40px;
    background-color: #eee;
    margin:0 auto;
}
header h1{
    display: inline-block;
    margin-left: 40%;
}

header span{
    margin-left: 20%;
    margin-right: 20px;
    font-size: 18px;
}

header a {
    font-size: 18px;
}


section{
    display: inline-block;
    background-color: palegreen;
    margin: 0 auto;
    border-radius: 10px;
    border: 1px solid green;
    box-shadow: 0px 0px 5px #888888;
    box-sizing: border-box;
}

header, footer {
    display: block;
    background-color: palegreen;
    margin: 0;
    padding: 0;
}
footer{
    margin-top: 20px;
}

.alert-danger, .alert-success{
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
}

.parts{
    margin-bottom: 20px;
}

.aside{
    margin:0 25px;
    margin-bottom: 20px;
    border-radius: 0;
}
.aside .btn{
    display: block;
    margin: 10px 0;
}
.form-group{
    padding-left: 10px;
}
aside{

}
.aside li{
    list-style-type: none;
    text-align: center;
    position: relative;
    left: -20px;
    font-size: 22px;
    font-weight: normal;
}

.aside li:hover{
    color:orange;
}

.form {
    padding:10px 30px;
}

label{
    margin-top: 10px;
    font-weight: normal;
    font-size: 20px;
}

.form-heading{
    font-weight: bold;
}

.form .form-control {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
}

.form .form-control:focus {
    z-index: 2;
}

.btn{
    margin: 0 5%;
    display: inline-block;
    border-color: green;
    background-color: #4cae4c;
    color: #ffffff;
    font-weight: bold;
    padding: 10px 40px;
    border-radius: 7px;
    font-size: 16px;
}


.btnHref{
    margin: 15px auto;
}

.logOrReg{
    border-bottom: thin dotted #072bff;
    margin-left: 10%;
}

hr{
    border-color: green;
}

input{
    display: inline-block;
}
h1{
    margin: 0;
    padding: 15px;
    margin-bottom: 25px;
    font-weight: bold;
}
h2{
    display: inline-block;
}