.listAdsPhoto, .listAdsDetails{
    display: inline-block;
}

.listAdsPhoto{
    height: 32%;
    padding: 10px;
    margin-top: 15px;
    box-sizing: border-box;
    border: thin dashed green;
    background-color: #c1e2b3;
}

.listAds{
    border-radius: 0;
    padding: 15px;
}
.listAdsDetails{
    box-sizing: border-box;
}
.info{
    border: thin dashed green;
    margin: 10px 0;
    padding: 7px;
    background-color: #c1e2b3;
}
.description .info{
    word-wrap: break-word;

}

.label{
    box-sizing: border-box;
    position: relative;
    top: 20px;
    color:#000000;
    font-size: 16px;
    font-weight: normal;
}
.date, h2{
    margin: 20px;
}