.register-container{
    width: 700px;
}

.form-group {
    width: 49.6%;
    display: inline-block;
}

.register-container .btn{
    margin: 0 25%;
}
.register-container .logOrReg{
    margin-left: 25%;
}