<div class="alert-danger" ng-bind="editErrMsg" ng-show="editErrMsg">{{editErrMsg}}</div>
<div class="alert-success" ng-bind="editSccMsg" ng-show="editSccMsg">{{editSccMsg}}</div>
<section class="newAdd-container col-md-8" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <form class="form" role="form">
        <h3 class="form-heading text-center">Edit Ad</h3>
        <hr>
        <div>
            <div class="col-md-12">
                <div class="col-md-3 pull-right">
                    <div style="width: 150px; height: 200px;">
                        <img ng-src="{{myAd.imageDataUrl}}" ng-hide="ImageDataURL" style="max-width: 200px; max-height: 200px">
                        <img ng-src="{{'data:image/jpeg;base64,'+ImageDataURL.base64}}" ng-show="ImageDataURL" style="max-width: 200px; max-height: 200px">
                    </div>
                </div>
                <div>
                    <input type="text" class="info pull-right col-md-6" ng-model="myAd.title" placeholder="{{myAd.title}}">
                    <span class="label pull-right">Title</span>
                </div>
                <div>
                    <textarea class="info pull-right col-md-6"  style="height: 100px" ng-model="myAd.text" placeholder="{{myAd.text}}"></textarea>
                    <span class="label pull-right">Text:</span>
                </div>
            </div>

            <div class="col-md-12">

                <div class="col-md-12">
                    <input class="btn col-md-10 pull-right" type="file" ng-model="ImageDataURL" base-sixty-four-input>
                </div>
                <div>
                    <select class="info pull-right col-md-9" name="categories" ng-model="myAd.categoryId">
                        <option ng-repeat="category in allCategories" title="{{category.name}}" value="{{category.id}}">{{category.name}}</option>
                    </select>
                    <span class="label pull-right">Category</span>
                </div>.
                <div>
                    <select class="info pull-right col-md-9" name="towns" ng-model="myAd.townId">
                        <option ng-repeat="town in allTowns" title="{{town.name}}" value="{{town.id}}">{{town.name}}</option>
                    </select>
                    <span class="label pull-right">Town</span>
                </div>
            </div>

            <div>
                <button class="btn btn-default center-block" type="submit" ng-click="editAd(myAd)">Edit</button>
                <button class="btn btn-default center-block" ng-click="showAllAds()">Cancel</button>
            </div>
        </div>
    </form>
</section>7