<div class="clearfix">
    <aside class="col-md-3 pull-right top-right">
        <section class="aside col-md-10">
            <h3 class="text-center">Categories</h3>
            <hr>
            <select class="form-control" ng-model="category" ng-change="filterAdsCat(category)" ng-options="category as category.name for category in  allCategories"></select>
        </section>
        <section class="aside col-md-10">
            <h3 class="text-center">Towns</h3>
            <hr>
            <select class="form-control" ng-model="town" ng-change="filterAdsTown(town)" ng-options="town as town.name for town in  allTowns"></select>
        </section>
    </aside>
    <section class="listAds col-md-9" ng-repeat="ad in data.ads | orderBy:'categoryId'" style="margin-bottom: 20px">
        <div class="listAdsHeader clearfix">
            <h2>{{ad.title}}</h2>
            <span class="date pull-right">{{ad.date | date: 'd-MMM-yyyy'}}</span>
        </div>
        <div class="listAdsMain clearfix">
            <div class="listAdsDetails pull-right col-md-9">
                <div class="description">
                    <div class="info pull-right col-md-12">
                        {{ad.text}}
                    </div>
                </div>
                <div class="infoPart">
                    <div class="info pull-right col-md-10">{{ad.ownerName}}</div>
                    <span class="label pull-right">Name</span>
                </div>

                <div class="infoPart">

                    <div class="info pull-right col-md-10">{{ad.ownerEmail}}</div>
                    <span class="label pull-right">Email</span>
                </div>

                <div class="infoPart">

                    <div class="info pull-right col-md-10">{{ad.ownerPhone}}</div>
                    <span class="label pull-right">Tel</span>
                </div>
            </div>
            <div class="image-container listAdsPhoto pull-right col-md-3">
                <img class="image" ng-src="{{ad.imageDataUrl}}">
            </div>
        </div>

    </section>

</div>