<section class="newAdd-container col-md-8">
    <h3 class="form-heading text-center">Publish New Ad</h3>
    <hr>
    <div>
        <div class="photo col-md-3 pull-right">photo</div>
        <div>
            <div class="info pull-right col-md-6">BMW 320 for Sale</div>
            <span class="label pull-right">Title</span>
        </div>
        <div>
            <div class="info pull-right col-md-6"  style="height: 100px">I have a BMW 320 for Sale. Good price.</div>
            <span class="label pull-right">Text:</span>
        </div>

        <div class="form-group">
            <button class="btn btn-default center-block" type="submit">Login</button>
        </div>
    </div>
</section>